.layer-box
    .detail-box.row
        .detail-img#image-info
            img(src=`/uploads/img/${detail[0].img}`)
        .layer-content
            .row.layer-border-bottom
                .col-4
                    h2 UPDA
                        span.yellow T
                        |E
                .col-8
                    .layer-option
                            i(class='mdi mdi-keyboard-backspace' id='update-cancel')
                            i(class='mdi mdi-close' id='close')
            .row.form-row
                .col-12
                    form(action="/works/update/?_method=put" method="POST" enctype="multipart/form-data")
                        .row
                            .col-12
                                input(type='text' id='title' name='title' class='form-custom' value=`${detail[0].title}`)
                        .row
                            .col-12
                                textarea( id='contents' name='contents' class='form-custom' value=`${detail[0].contents}` row='45') #{detail[0].contents}
                        .row
                            .col-12
                                .input-group
                                    input(type='text' class='form-custom' readonly)
                                    .file-box
                                        label(for='userfile') UPLOAD
                                        input(type="file" id="userfile" name="userfile")
                        .row
                            .col-12
                                input(type='hidden' name='id' value=`${detail[0]._id}`)
                                input(type='hidden' name='filename' value=`${detail[0].img}`)
                                input(type='submit' class="button-point" value="Okay!")

script.
    $(document).ready(function(){
        $('#close').on('click',function(){
            $("#layer").fadeOut().html('');
        })
        $('#detail-option').on('click',function(){
            $('.layer-option-box').toggle(function(){
            })
        })

        $('#image-delete').on('click',function(){
            var detailId = #{detail[0]._id}
            var detailName = '#{detail[0].img}'
            $.ajax({
                url : '/works/' + detailId + '?_method=delete',
                type : "POST",
                dataType : 'json',
                data : { 'fileName' : detailName },
                success: function(data){
                    $("#layer").fadeOut().html('');
                    //- location.reload();
                },error: function(req, status, error){
                }
            })
        })
    })