.layer-box
    .detail-box.row
        .detail-img#image-info
            img(src=`/uploads/img/${detail[0].img}`)
        .detail-info   
            .row
                .col-8
                    .detail-user-profile
                .col-4
                    .layer-option
                        if isAuthenticated
                            i(class='mdi mdi-dots-vertical' id='detail-option')
                            i(class='mdi mdi-close' id='close')
                            .layer-option-box
                                    .option-box-row#image-delete
                                        i(class='mdi mdi-delete')
                                        span 삭제
                                    .option-box-row#image-update
                                        i(class='mdi mdi-pencil')
                                        span 수정
                        else
                            i(class='mdi mdi-close' id='close')
            .row
                .col-12
                    h2.detail-title #{detail[0].title}
            .row
                .col-12
                    .detail-description #{detail[0].contents}
            .row   
                .col-12
                    .row
                        .col-12
                            .respect-each
                                .respect
                                    i(class='mdi mdi-emoticon-lol-outline')
                                    span #{detail[0].respect}
                            .comment-each
                                .comment
                                    i(class='mdi mdi-comment-outline')
                                    span 0
            input(type="hidden" id="detail-img" value=`${detail[0].img}`)
            input(type="hidden" id="detail-id" value=`${detail[0]._id}`)

script.
    $(document).ready(function(){
        function layerAutoSet(){
            var browserHeight = window.innerHeight;
            var layerHeight = $('.layer-box').height();
            var layerTop = ( browserHeight - layerHeight ) / 2;
            $('.layer-box').css('top',layerTop);
        }

        $('#close').on('click',function(){
            $("#layer").fadeOut().html('');
        })
        $('#detail-option').on('click',function(){
            $('.layer-option-box').toggle(function(){
            })
        })
        var detailId = $("#detail-id").val();
        var detailName = $("#detail-img").val();

        //- var detailId = #{detail[0]._id}
        //- var detailName = '#{detail[0].img}'

        $('#image-delete').on('click',function(){
            $.ajax({
                url : '/works/' + detailId + '?_method=delete',
                type : "POST",
                success: function(data){
                    $("#layer").fadeOut().html('');
                    //- location.reload();
                },error: function(req, status, error){
                    console.log(status);
                    console.log(error);
                }
            })
        })

        $('#image-update').on('click',function(){
            $("#layer").fadeOut().html('');
            $.ajax({
                url : '/works/update/' + detailId,
                type : "GET",
                success: function(data){
                    $('#layer').html(data).fadeIn()
                    layerAutoSet()
                }
            })
        })
    })